.card {
  width: 400px;
  height: 300px;
  &:hover {
    .icon {
      animation: ping 0.8s ease-in-out infinite;
      color: red;
    }
  }
}

@keyframes ping {
  0% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

.wrapper {
  display: grid;
  gap: 20px;
}

.thumbnail_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  position: absolute;
  font-size: 2em;
  color: white;
  transition: all 0.3s ease-in-out;
}

.thumbnail {
  background: #000;
  height: 200px;
  max-width: 100%;
  object-fit: cover;
}

.details_wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 20px;
}

.channel_picture {
  min-width: 35px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 100%;
}

.details {
  width: 100%;
  display: grid;
  gap: 5px;
}

.stats_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  p {
    color: #bbbbbb;
    font-size: 0.9em;
  }
}

.stat {
  display: flex;
  align-items: center;
  gap: 5px;
}

.list_icon {
  font-size: 0.4rem !important;
  color: gray;
}

.title_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video_title {
  font-size: 1rem;
}

.more_icon {
  font-size: 1.4em;
}
