.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #000;
  z-index: 100;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  gap: 2px;
  &:hover {
    * {
      color: red;
    }
  }
}

.logo {
  font-size: 2.7em;
  color: white;
  transition: all 0.3s;
}

.logo_text {
  font-size: 1.5em;
  font-weight: 600;
  color: white;
  transition: all 0.3s;
}

.search_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search_field {
  background: transparent;
  border: none;
  border-bottom: 1px gray solid;
  padding: 4px 0;
}

.icon {
  position: absolute;
  color: white;
}

.user_profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  img {
    border-radius: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}
